#### Team Stats Facts:
#### Members: Sai Kiran Batchu, Vidyashree, Sri Harika, Tushar and Akhila

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [352]:
# importing the data
apps = pd.read_csv("playstore_apps.csv")
apps.shape

(10841, 13)

In [353]:
# glancing the data
apps.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,19M,10000.0,Free,0.0,Everyone,Art & Design,07-01-2018,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967.0,14M,500000.0,Free,0.0,Everyone,Art & Design;Pretend Play,15-01-2018,2.0.0,4.0.3 and up

In [354]:
#dropping duplicate values
apps_new = apps.drop_duplicates()
apps_new.shape

(10358, 13)

In [362]:
# checking for null values
apps_new.isnull().sum()

App                  0
Category             0
Rating            1465
Reviews              1
Size                 0
Installs             1
Type                 1
Price                1
Content Rating       1
Genres               0
Last Updated         1
Current Ver          8
Android Ver          3
dtype: int64

In [356]:
# example of viewing unique values in a column
print(*apps_new["Content Rating"].unique())

Everyone Teen Everyone 10+ Mature 17+ Adults only 18+ Unrated nan

In [357]:
# replacing the value of "4.4W and up" with "4.4 and up" in Android Ver column
apps_new['Android Ver'] = apps_new['Android Ver'].replace("4.4W and up", "4.4 and up")

C:\Users\batch_2kjxgc7\AppData\Local\Temp\ipykernel_27912\2578860400.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  apps_new['Android Ver'] = apps_new['Android Ver'].replace("4.4W and up", "4.4 and up")

In [358]:
# removing rows with unknown values in category and genres column
apps_final= apps_new[(apps_new.Category != "1.9") & (apps_new.Genres != "February 11, 2018")]
apps_final.shape

(10357, 13)

In [363]:
# replacing rating null values with 0 
apps_final["Rating"] = apps_final["Rating"].fillna(0)

C:\Users\batch_2kjxgc7\AppData\Local\Temp\ipykernel_27912\3869356454.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  apps_final["Rating"] = apps_final["Rating"].fillna(0)

In [365]:
apps_final.to_csv("apps_final.csv", index=False)

## Reviews Dataset

In [325]:
# reading the data
reviews = pd.read_csv("playstore_reviews.csv")
reviews.shape

(64295, 5)

In [326]:
# glancing the data
reviews.head(5)

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

In [327]:
# removing duplicate rows
reviews = reviews.drop_duplicates()
reviews.shape

(30679, 5)

after removing duplicate rows we are left over with 24327 reviews

In [328]:
# checking the null values in all the rows
reviews.isnull().sum()

App                         0
Translated_Review         987
Sentiment                 982
Sentiment_Polarity        982
Sentiment_Subjectivity    982
dtype: int64

In [329]:
# replacing the comma with space as it was causing problems with importing data in mysql
reviews["Translated_Review"] = reviews["Translated_Review"].str.replace(',', '', regex=True)

In [331]:
# removing null values from review column
reviews = reviews.dropna(subset=['Translated_Review'])

In [332]:
reviews.shape

(29692, 5)

In [335]:
#checking for null values in dataset
reviews.isnull().sum()

App                       0
Translated_Review         0
Sentiment                 0
Sentiment_Polarity        0
Sentiment_Subjectivity    0
dtype: int64

In [336]:
reviews.head(10)

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000
5,10 Best Foods for You,Best way,Positive,1.00,0.300000
6,10 Best Foods for You,Amazing,Positive,0.60,0.900000
8,10 Best Foods for You,Looking forward app,Neutral,0.00,0.000000
9,10 Best Foods for You,It helpful site ! It help foods get !,Neutral,0.00,0.000000
10,10 Best Foods for You,good you.,Positive,0.70,0.600000
11,10 Best Foods for You,Useful information The amount spelling errors ...,Positive,0.20,0.100000

In [337]:
reviews.to_csv("reviews_final.csv", index=False)